<div class="comments">
    <div class="container">
        <div class="comments-wrap">
            <div class="comments__photo">
                <img src="img/customer.png" alt="фото клиента">
            </div>
            <div class="comments__text-field">
                <blockquote class="comments__text">
                    Очень хороший топор. Брал в подарок для тещи. Пришел действительно в деревянном футляре, но без бархата =)
                </blockquote>
            </div>
        </div>
    </div>
</div>