<div class="features">
    <div class="container">
        <div class="features__title">
            <div>
                <hr class="title__hr">
            </div>
            <h2>Лучшая модель</h2>
            <div>
                <hr class="title__hr">
            </div>
        </div>
        <div class="features__view">
            <input class="features__size-input" type="radio" name="size-btn" id="btn_m">
            <input class="features__size-input" type="radio" name="size-btn" id="btn_l">
            <input class="features__size-input" type="radio" name="size-btn" id="btn_xl" checked>
            <input class="features__size-input" type="radio" name="size-btn" id="btn_xxl">

            <div class="features__picture-field">
                <div class="feature__img-box">
                    <div class="feature__img feature__img__m">
                        <img src="img/m.png" alt="топор">
                    </div>
                    <div class="feature__img feature__img__l">
                        <img src="img/l.png" alt="топор">
                    </div>
                    <div class="feature__img feature__img__xl">
                        <img src="img/xl.png" alt="топор">
                    </div>
                    <div class="feature__img feature__img__xxl">
                        <img src="img/xxl.png" alt="топор">
                    </div>
                </div>
            </div>
            <div class="absolute">
                <div class="features__field">
                    <label class="btn btn_size" for="btn_m">m</label>
                    <label class="btn btn_size" for="btn_l">l</label>
                    <label class="btn btn_size" for="btn_xl">xl</label>
                    <label class="btn btn_size" for="btn_xxl">xxl</label>

                    <a class="btn btn_order" href="#">купить</a>
                </div>
            </div>

        </div>
        <div class="features__description">
            <dl>
                <dt>
                <h3 class="features__feature-title">топор обыкновенный</h3>
                <p class="features__feature-desc">Коллекция: лето/зима</p>
                <p class="features__feature-desc">Материал: корозионностойкая дамасская сталь</p>
                </dt>
                <div class="features__feature-hr">
                    <hr>
                </div>

                <dd>
                    <p class="features__feature-desc">Обыкновенный топор, обладающий, как хозяйственными качествами, так и оружейными. Может активно применяться в различных жизненных ситуациях.</p>
                    <p class="features__feature-desc features__feature-desc_add">Упакован в деревянный футляр, обитый внутри бархатом.</p>
                </dd>
            </dl>


        </div>
    </div>
</div>