<div class="header">
    <div class="header_wrap">
        <div class="header_inside_area">
            <div class="container header__container">
                <div class="header__logo">
                    <a class="logo__img" href="#"><img src="img/logo.png" alt="Дровосек"></a>
                    <span class="logo__text">Логотип</span>
                </div>
                <div class="header__menu">
                    <ul class="menu__main">
                        <li><a href="#" class="btn">Главная</a></li>
                        <li><a href="#" class="btn">Магазин</a></li>
                        <li><a href="#" class="btn">Бренды</a></li>
                        <li><a href="#" class="btn">О магазине</a></li>
                        <li><a href="#" class="btn">Контакты</a></li>
                    </ul>
                    <span class="menu__garbage">(0) Корзина</span>
                </div>
                <div class="header__content">
                    <h2>Коллекция сезона</h2>
                    <h1>Брутальный дровосек</h1>
                    <a class="btn header__btn" href="#">подробнее</a>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>