/*footer*/
.footer{
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer__text{
  font-family: "Myriad Pro", sans-serif;
  line-height: 24px;
  color: #333333;
  opacity: 0.6;
}